.identity{
    font-weight: lighter;
    color: white;
}

.flexBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin-left: 1rem;
}

.gameResult{
    color:white; 
    font-weight: lighter;
    font-size: 2.5rem;
}
