.wallet{
    margin-bottom: 0;
    font-weight: lighter;
    color: white;
}

.flexBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.currAmountSpan{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

span{
    color: white;
    font-weight: lighter;
}
